name: Build and Push Docker Image

on:
  push:
    branches: ["main"]
    tags:
      - "v*.*.*"  # при релизах вида v1.0.0
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract version tag
        id: vars
        run: |
          if [[ "${GITHUB_REF}" == refs/tags/* ]]; then
            VERSION=${GITHUB_REF#refs/tags/}
          else
            VERSION=latest
          fi
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: ./app
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/flask-devops-hybrid-template:${{ steps.vars.outputs.version }}
            ${{ secrets.DOCKERHUB_USERNAME }}/flask-devops-hybrid-template:latest

      - name: Post-build summary
        run: |
          echo "✅ Image pushed to Docker Hub:"
          echo "https://hub.docker.com/r/${{ secrets.DOCKERHUB_USERNAME }}/flask-devops-hybrid-template"
          echo "Version: ${{ steps.vars.outputs.version }}"
